body {
  /* background: #2261cb; */
}
.content {
  /* background: #fff; */
  padding: 30px;
  border-radius: 16px;
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 70px;
}
.form input {
  width: 100%;
  outline: none;
  border: 2px solid #4d85cc;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
}
.form input:focus {
  border: 2px solid #b9c6d7;
}
::placeholder {
  font-size: 20px;
}
.form button {
  padding: 10px 30px;
  cursor: pointer;
  background: #4d85cc;
  border: 1px solid #4d85cc;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}
.form button:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.lists {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
  padding: 8px 14px;
  background: #c5e1e5;
  border: 1px solid #b1bdc1;
  border-radius: 4px;
  align-items: center;
}
.lists h5 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.lists button {
  padding: 10px 12px;
  background: #1d1ba3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.lists button:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.lists button .delete {
  font-size: 20px;
  color: #fff;
}
